body {
  background: radial-gradient(circle at center, #000000c3, #000000);
  color: white;
  overflow-x: hidden;

  nav {
    background-color: #0d0d0d5e;
  }
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background: $black; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: $orange; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

@media (max-width: 575.98px) {
  .container {
    padding: 0 1rem;
  }
}

main {
  padding-top: 4rem;
}

.academia,
.funcionamento,
.projetos {
  text-align: justify;
}

section {
  margin: 4rem 0;
}

.display-2 {
  width: max-content;
  color: #FE7144;
  font-weight: 400;
}

@media (max-width: 262px) {
  .display-2 {
    width: min-content;
  }
}
@media (min-width: 767px) and (max-width: 991.98px) {
  .display-2 {
    width: min-content;
  }
}

a {
  text-decoration: none;
  color: $black;

  &:hover {
    color: yellow;
    text-decoration: underline;
  }
}





