body {
  background: radial-gradient(circle at center, #000000c3, #000000);
  color: white;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background: $black;
}

body::-webkit-scrollbar-thumb {
  background-color: $orange;
  border-radius: 20px;
}

@media (max-width: 575.98px) {
  .container {
    padding: 0 1rem;
  }
}

main {
  padding-top: 4rem;
}

section {
  margin: 4rem 0;
}

section .row .col-12 p {
  text-align: justify !important;
}

.display-2 {
  color: #fe7144;
  font-weight: 400;
}

@media (max-width: 262px) {
  .display-2 {
    width: min-content;
  }
}

a {
  text-decoration: none;
  color: $black;

  &:hover {
    color: yellow;
    text-decoration: underline;
  }
}
