body {
    background: radial-gradient(circle at center, #000000c3, #000000);
    color: white;
  overflow-x: hidden;

  nav {
    background-color: #0d0d0d5e;
  }
}

main {
  padding-top: 95px;
}

a {
  text-decoration: none;
  color: $black;

  &:hover {
    color: $orange;
  }
}

.foto {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  border: $black 1.6px solid;
}

footer {
  background-color: $light;
}
#dev {
  width: fit-content;
}
