/* Color Theme */
$Color-1: #73203e;
$Color-2: #f2508b;
$Color-3: #f2ddd0;
$Color-4: #f26444;
$Color-5: #0d0d0d;

body {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}
footer  {
  background-color: #f2ddd0;
}