/* Color Theme */
body {
  background: radial-gradient(circle at center, rgba(0, 0, 0, 0.7647058824), #000000);
  color: white;
  overflow-x: hidden;
}
body nav {
  background-color: rgba(13, 13, 13, 0.368627451);
}

main {
  padding-top: 95px;
}

a {
  text-decoration: none;
  color: #0d0d0d;
}
a:hover {
  color: #f26444;
}

.foto {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  border: #0d0d0d 1.6px solid;
}

footer {
  background-color: #f2ddd0;
}

#dev {
  width: fit-content;
}