@media (min-width: 991px) {
  #border {
    border-left: solid white 0;
    transition: border-left 1s;
  }

  .borda {
    border-left: solid $orange 6px!important;
  }
}

.foto {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  border: $black 1.6px solid;
}