@media (min-width: 991px) {
  #academia {
    border-left: solid white 0;
    transition: border-left 1s;
  }
  #academia.borda {
    border-left: solid $orange 6px;
  }
}
.foto {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  border: $black 1.6px solid;
}
