.rocket-container {
  position: relative;

  .rocket {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: rocket-anim 2s ease-in-out infinite;
    width: 10%;
  }
}

@keyframes rocket-anim {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-50px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

.rocket {
  transition: bottom 1s ease-in-out, transform 0.2s ease-in-out,
    opacity 0.5s ease-in-out;
  position: fixed;
  bottom: 40px;
  right: 20px;
  cursor: pointer;
  opacity: 0;
  z-index: 9999;
  transform: rotate(180deg);

  &.show {
    bottom: 20px;
    opacity: 1;
  }

  &.move {
    bottom: 400px;
    transform: rotate(0deg);
  }
}
